.social {
  display: flex;
  margin-bottom: 2.8rem;
}

.social__link {
  margin-right: 0.66rem;
  text-decoration: none;
  transition: transform 0.2s linear;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    transform: translateY(-0.33rem);
  }
}
